.body {
  background-color: #f0f0f0;
  font-family: Arial;

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  width: 250px;
  margin: 50px auto;
  background-color: rgb(247, 245, 144);

}

.nut button {
  background-color: rgb(72, 162, 235);

}